:root {
    --ff-um: 'Poppins';
    --p: 16px;
    --h2: 31px;
    --h6: 21.33px;
    --h5: 28.43px;
    --h4: 37.90px;
    --h3: 50.52px;
    --h1: 89.76px;
    --cor-um: white;
    --cor-dois: black;
    --cor-tres: rgb(255, 115, 0);

}

.nav-paginas {
    margin-top: 3.25rem;
}

.nav-artigos__container {
    margin-bottom: 1rem;
}

.nav-artigos__titulo {
    margin-bottom: 0.75rem;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.nav-artigos__ativador {
    font-size: 28px;
    cursor: pointer;
}

.nav-artigos__ativador--categoria span,
.nav-artigos__ativador--ordenacao span {
    vertical-align: middle;
    font-weight: bold;
    color: var(--cor-tres);
}

.nav-artigos__item {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 30px;
    border: 2px solid black;
    opacity: 0.6;
}

.nav-artigos__item--atual {
    border: 2px solid var(--cor-tres);
    opacity: 1;
}

.nav-artigos__link {
    color: var(--cor-dois);
    font-weight: 400;
    cursor: pointer;
}

.nav-artigos__item--atual .nav-artigos__link {
    color: var(--cor-tres);
    font-weight: 600;
}

.nav-artigos__pesquisa-container {
    margin-bottom: 1rem;
    display: grid;
    grid-template-rows: 1fr;
}

.nav-artigos__pesquisa-container > * {
    grid-row: 1;
    grid-column: 1;
}

.nav-artigos__pesquisa {
    padding: 0.5rem 0.75rem;
    border-radius: 30px;
    border: 3px solid var(--cor-tres);
}

.nav-artigos__ativador--pesquisa {
    position: absolute;
    z-index: 2;
    place-self: end;
    align-self: center;
    padding: 0.25rem;
    display: flex;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: var(--cor-um);
    background: var(--cor-tres);
    font-size: var(--h2);
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}

.card--simplificado {
    display: grid;
    grid-template-areas:
        "imagem informacoes"
        "imagem titulo"
        "imagem caminhos";
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.12); 
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.12); 
}

.card__imagem {
    grid-area: imagem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card__conteudo {
    padding: 1rem;
}

.card__informacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card__informacao {
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.8;
}

.card__informacao--categoria {
    text-align: right;
}

.card__titulo {
    margin-bottom: 1rem;
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
}

.card__titulo .card__link {
    color: var(--cor-dois);
}

.card__link {
    color: var(--cor-tres);
}

.card__caminhos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card__caminho .card__link {
    text-decoration: 2px solid underline var(--cor-tres);
}

.card__ativador {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 300;
    opacity: 0.7;
}

#o-que-e-BPM .card__imagem {
    background: url("https://images.unsplash.com/photo-1532288922150-c04819be02b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: 150vw;
    background-position: center;
    background-repeat: no-repeat;
}

#boas-praticas-de-hidratacao .card__imagem {
    background: url("https://images.unsplash.com/photo-1615809265660-21681e60e2bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1854&q=80");
    background-size: cover;
    background-position: center;
}

@media (min-width: 320px) {
    .card--simplificado {
        grid-template-areas:
            "imagem informacoes"
            "imagem titulo"
            "imagem caminhos";
        grid-template-columns: calc(50vw - 1rem * 3) auto;
    }
}