:root {
    --ff-um: 'Poppins';
    --p: 16px;
    --h2: 31px;
    --h6: 21.33px;
    --h5: 28.43px;
    --h4: 37.90px;
    --h3: 50.52px;
    --h1: 89.76px;
    --cor-um: white;
    --cor-dois: black;
    --cor-tres: rgb(255, 115, 0);

}


.destaques {
    position: relative;
    margin-top: 3.25rem;
    min-height: 280px;
    height: 40vh;
    background: black;
}

.destaques__titulo-principal {
    position: absolute;
    z-index: 1;
    margin: 1rem;
    clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);
    padding: 0 1rem;
    background: var(--cor-tres);
    color: var(--cor-um);
    font-size: 24px;
    font-weight: 300;
}

.destaques__indicadores {
    position: absolute;
    bottom: 1rem;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.destaques__indicador-container {
    position: relative;
    margin: 0 0.75rem;
}

.destaques__indicador-checkbox {
    position: absolute;
    opacity: 0;
    width: 10px;
    height: 10px;
}

.destaques__indicador-checkbox:checked + .destaques__indicador-estilo {
    background: var(--cor-tres);
}

.destaques__indicador-estilo {
    width: 11px;
    height: 11px;
    border-radius: 360px;
    background: var(--cor-um);
    transition: 200ms;
}

.destaques__indicador--atual {
    background: var(--cor-tres);
}

.destaques__slides {
    max-width: 100vw;
    height: 100%;
    display: flex;
    overflow-x: hidden;
}

.destaques__slide {
    min-width: 100vw;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 3.5rem 1rem;
    box-shadow: -2px -1px 73px 3000px rgba(0,0,0,0.25) inset;
    -webkit-box-shadow: -2px -1px 73px 3000px rgba(0,0,0,0.25) inset;
    -moz-box-shadow: -2px -1px 73px 3000px rgba(0,0,0,0.25) inset;
    transition: 500ms;
}

.destaques__slide > * {
    transform: translateX(-0vw);
}

.destaques__slide1 {
    background: url("https://images.unsplash.com/photo-1615809265660-21681e60e2bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1854&q=80");
    background-size: cover;
    background-position: center;
}

.destaques__slide2 {
    background: url("https://images.unsplash.com/photo-1614961234274-f204d01c115e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
    background-size: cover;
    background-position: center;
}

.destaques__titulo {
    max-width: 15ch;
    font-size: var(--h2);
    font-weight: 500;
    text-align: start;
}

.destaques__link {
    color: var(--cor-um);
}

.nav-artigos__ativador {
    position: absolute;
    z-index: 2;
    place-self: end;
    align-self: center;
    padding: 0.25rem;
    display: flex;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: var(--cor-um);
    background: var(--cor-tres);
    font-size: var(--h2);
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}

.card {
    display: grid;
    grid-template-rows: 12rem repeat(4, auto);
    grid-template-areas:
        "imagem"
        "informacoes"
        "titulo"
        "paragrafo"
        "caminhos";
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.12); 
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.12); 
}

.card__imagem {
    grid-area: imagem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card__conteudo {
    padding: 1rem;
}

.card__informacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card__informacao {
    max-width: 6ch;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.8;
}

.card__informacao--data {
    text-align: right;
}

.card__informacoes ~ * {
    padding: 0 0.5rem;
}

.card__titulo {
    margin-bottom: 0.75rem;
    font-size: var(--h2);
    font-weight: 400;
    line-height: 40px;
}

.card__titulo .card__link {
    color: var(--cor-dois);
}

.card__link {
    color: var(--cor-tres);
}

.card__paragrafo {
    margin-bottom: 1rem;
    font-weight: 300;
    line-height: 26px;
}

.card__paragrafo:last-child {
    margin-bottom: 1.5rem;
}

.card__caminhos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__caminho .card__link {
    text-decoration: 2px solid underline var(--cor-tres);
}

.card__ativador {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 300;
    opacity: 0.7;
}

#o-que-e-BPM .card__imagem {
    background: url("https://images.unsplash.com/photo-1532288922150-c04819be02b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: 150vw;
    background-position: center;
    background-repeat: no-repeat;
}

#boas-praticas-de-hidratacao .card__imagem {
    background: url("https://images.unsplash.com/photo-1615809265660-21681e60e2bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1854&q=80");
    background-size: cover;
    background-position: center;
}

@media (min-width: 320px) {
    .card__informacao {
        max-width: unset;
    }
}

@media (min-width: 480px) {
    .card {
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 0.9fr 1fr;
        grid-template-areas:
            "imagem informacoes"
            "imagem titulo"
            "imagem paragrafo"
            "imagem caminhos";
        border-radius: 15px;
    }

    .card__imagem {
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
    }
}

@media (min-width: 600px) {

}
