:root {
    --ff-um: 'Poppins';
    --p: 16px;
    --h2: 31px;
    --h6: 21.33px;
    --h5: 28.43px;
    --h4: 37.90px;
    --h3: 50.52px;
    --h1: 89.76px;
    --cor-um: white;
    --cor-dois: black;
    --cor-tres: rgb(255, 115, 0);

}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    background: none;
    box-sizing: border-box;
    font-family: var(--ff-um);
}

.material-icons-outlined {
    font-family: "Material Icons";
}
/* 
 body {
    background: black;
}

nav {
    position: relative;
}

.nav-bar {
    grid-row: 1;
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--cor-um);
}

.nav-bar__logo {
    place-items: center;
    display: flex;
    justify-content: center;
    font-size: var(--h5);
    font-weight: 300;
    letter-spacing: -1px;
}

.nav-bar__link {
    color: var(--cor-dois);
}

.nav-bar__link span {
    color: var(--cor-tres);
    font-weight: 400;
}

.nav-bar__ativador {
    display: flex;
    margin: 0 0.5rem;
    font-size: 32px;
}

.nav-bar__ativador--pesquisa {
    place-self: end;
    align-self: center;
}

.nav-bar__ativador--pesquisa span {
    
}

.nav-bar__ativador--menu {
    place-self: start;
    align-self: center;
}

.nav-menu {
    position: fixed;
    top: 2.5rem;
    padding: 0.75rem;
    width: 60vw;
    min-height: calc(100vh - 2.5rem);
    background: var(--cor-um);
}

.nav-menu__item {
    margin-bottom: 1rem;
}

.nav-menu__link {
    color: var(--cor-tres);
    font-size: var(--p);
    font-weight: 300;
}

.nav-menu__titulo {
    margin-top: 2rem;
    color: rgb(41, 41, 41);
    font-size: var(--h6);
    font-weight: 300;
}  */


.grid-principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "header"
        "main";
} 

.nav {
    grid-area: nav;
    position: relative;
    display: grid;
}

.nav-bar {
    grid-row: 1;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    display: grid;
    grid-template-rows: 3.25rem;
    background: var(--cor-um);
}

.nav-bar > * {
    grid-row: 1;
}

.nav-bar__logo {
    place-self: center;
    font-size: var(--h2);
    font-weight: 500;
    /* font-style: italic; */
    letter-spacing: -1px;
}

.nav-bar__logo a {
    color: var(--cor-dois);
}

.nav-bar__logo span {
    color: var(--cor-tres);
    font-weight: 600;
}

.nav-bar__ativador {
    display: flex;
    margin: 1rem;
    font-size: var(--h2);
}

.nav-bar__ativador--menu {
    place-self: start;
    align-self: center;
}

.nav-bar__ativador--pesquisa {
    place-self: end;
    align-self: center;
}

.nav-pesquisa {
    position: fixed;
    top: 3.25rem;
    z-index: 99;
    width: 100%;
    height: 2.5rem;
    padding: 1.2rem;
    background: var(--cor-um);
    font-size: var(--p); 
    transform: translateY(-200%);
    transition: 250ms ease-in-out;
}

.nav-pesquisa:focus {
    outline: 1.5px solid var(--cor-tres);
}

.nav-pesquisa--ativado {
    transform: translateY(0);
}

.nav-menu {
    grid-row: 2;
    position: fixed;
    top: 3.25rem;
    z-index: 999;
    width: 60vw;
    height: 100vh;
    padding-left: 1.2rem;
    background: var(--cor-um); 
    transform: translateX(-100%);
    transition: 125ms ease-in-out;
}

.nav-menu--ativado {
    transform: translateX(0);
}

.nav-menu__item {
    margin-bottom: 1.5rem;
}

.nav-menu__titulo {
    margin-top: 2rem;
    font-size: var(--h2);
    font-weight: 300;   
}

.nav-menu__link {
    color: var(--cor-tres);
    font-size: var(--p);
    font-weight: 500;
}

 header {
    grid-area: header;
}

.destaques {
    position: relative;
    top: 3.25rem;
    height: 55vh;
    margin-bottom: 2.5rem;
}

.destaques__titulo-principal {
    position: absolute;
    z-index: 3;
    display: inline-block;
    margin: 1.2rem;
    padding: 0.5rem;
    background: var(--cor-tres);
    color: var(--cor-um);
    font-size: var(--h2);
    font-weight: 400;
    font-style: italic;
    line-height: 28px;
}

.destaques__botao {
    margin: 1.2rem;
    display: none;
 }

.destaques__botao--anterior {
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 0;
    z-index: 3;
}

.destaques__botao--proximo {
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 0;
    z-index: 3;
}

.destaques__botao span {
    color: var(--cor-um);
    font-size: 32px;
}

.destaques__indicadores {
    position: absolute;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 100%;
}

.destaques__indicador {
    width: 13px;
    height: 13px;
    margin: 1rem;
    border: 2.5px solid var(--cor-um);
    border-radius: 360px;
    background: var(--cor-um);
    transition: 350ms;
}

.destaques__indicador--atual {
    border: 2px solid var(--cor-tres);
    background: var(--cor-tres);
}

.destaques__slides {
    width: 100vw;
    height: 100%;
    display: flex;
    overflow-x: hidden;
}

.destaques__slide {
    min-width: 100vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 4rem 1.2rem;
    box-shadow: -2px -1px 73px 3000px rgba(0,0,0,0.25) inset;
    -webkit-box-shadow: -2px -1px 73px 3000px rgba(0,0,0,0.25) inset;
    -moz-box-shadow: -2px -1px 73px 3000px rgba(0,0,0,0.25) inset;
    transition: 500ms;
}

.destaques__slide > * {
    transform: translateX(-0vw);
}

.destaques__slide1 {
    background: url("https://images.unsplash.com/photo-1615809265660-21681e60e2bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1854&q=80");
    background-size: cover;
    background-position: center;
}

.destaques__slide2 {
    background: url("https://images.unsplash.com/photo-1614961234274-f204d01c115e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
    background-size: cover;
    background-position: center;
}

.destaques__titulo {
    font-size: var(--h2);
    font-weight: 400;
    text-align: start;
}

.destaques__link {
    color: var(--cor-um);
}

main {
    grid-area: main;
}

.categorias {
    padding: 1.2rem;
}

.categorias__titulo-principal {
    padding-left: 5px;
    border-left: 10px solid var(--cor-tres);
    font-size: var(--h5);
    font-weight: 400;
}
