:root {
    --ff-um: 'Poppins';
    --p: 16px;
    --h2: 31px;
    --h6: 21.33px;
    --h5: 28.43px;
    --h4: 37.90px;
    --h3: 50.52px;
    --h1: 89.76px;
    --cor-um: white;
    --cor-dois: black;
    --cor-tres: rgb(255, 115, 0);

}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    background: none;
    box-sizing: border-box;
    font-family: var(--ff-um);
}

.material-icons-outlined {
    font-family: "Material Icons";
}

nav {
    position: relative;
}

.nav-bar {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 3.25rem;
    display: grid;
    background: var(--cor-um);
}

.nav-bar > * {
    grid-row: 1;
}

.nav-bar__logo {
    place-self: center;
    font-size: var(--h2);
    font-weight: 600;
}

.nav-bar__ativador {
    display: flex;
    padding: 0 1rem;
    font-size: var(--h2);
}

.nav-bar__ativador--menu {
    place-self: start;
    align-self: center;
}

.nav-bar__ativador--pesquisa {
    place-self: end;
    align-self: center;
}

.nav-bar__link {
    color: var(--cor-dois);
}

.nav-bar__logo span {
    color: var(--cor-tres);
    font-weight: 700;
}

.nav-menu {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 60vw;
    height: 100vh;
    padding-right: 1rem;
    background: var(--cor-um);
    transform: translateX(-100%);
    transition: 350ms;
}

.nav-menu__ativador-embrulho {
    display: flex;
    /* justify-content: flex-end; TALVEZ USAR*/
    padding-left: 0.7rem;
    align-items: center;
    height: 3.25rem;
}

.nav-menu__ativador {
    display: flex;
    font-size: var(--h2);
}

.nav-menu__ativador span {
    vertical-align: middle;
}

.nav-menu__ativador-embrulho ~ * {
    margin-bottom: 1rem;
    padding: 0 1rem;
    font-size: var(--p);
    font-weight: 500;
}

.nav-menu__titulo { 
    padding-top: 1.5rem;
    font-size: var(--h2);
    font-weight: 300;
}

.nav-menu__link {
    color: var(--cor-tres);
}

.nav-pesquisa {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 3.25rem;
    padding: 1.25rem;
    background: var(--cor-um);
    font-size: 17px;
    font-weight: 300;
    transform: translateY(0);
    transition: 350ms;
}

.nav-pesquisa--ativo {
    transform: translateY(100%);
}

.escurecer {
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.7;
    display: none;
}

.destaques {
    position: relative;
    margin-top: 3.25rem;
    height: 50vh;
    background: black;
}

.destaques__titulao {
    position: absolute;
    z-index: 1;
    margin: 1.25rem;
    clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);
    padding: 0 1rem;
    background: var(--cor-tres);
    color: var(--cor-um);
    font-size: 24px;
    font-weight: 300;
}

.destaques__indicadores {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.destaques__indicador {
    margin: 1.25rem calc(1.25rem / 2);
    width: 13px;
    height: 13px;
    border-radius: 360px;
    background: var(--cor-um);
}

.destaques__indicador--atual {
    background: var(--cor-tres);
}


.destaques__slides {
    width: 100vw;
    height: 100%;
    display: flex;
    overflow-x: hidden;
}

.destaques__slide {
    min-width: 100vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 4rem 1.2rem;
    box-shadow: -2px -1px 73px 3000px rgba(0,0,0,0.25) inset;
    -webkit-box-shadow: -2px -1px 73px 3000px rgba(0,0,0,0.25) inset;
    -moz-box-shadow: -2px -1px 73px 3000px rgba(0,0,0,0.25) inset;
    transition: 500ms;
}

.destaques__slide > * {
    transform: translateX(-0vw);
}

.destaques__slide1 {
    background: url("https://images.unsplash.com/photo-1615809265660-21681e60e2bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1854&q=80");
    background-size: cover;
    background-position: center;
}

.destaques__slide2 {
    background: url("https://images.unsplash.com/photo-1614961234274-f204d01c115e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
    background-size: cover;
    background-position: center;
}

.destaques__titulo {
    font-size: var(--h2);
    font-weight: 500;
    text-align: start;
}

.destaques__link {
    color: var(--cor-um);
}

.categorias {
    padding: 1.25rem;
    background: black;
}

.categorias__titulao {
    margin-bottom: 1rem;
    color: var(--cor-um);
    font-size: var(--h2);
    font-weight: 600;
}

.categorias__titulao ~ .categorias__titulao {
    margin-top: 1.2rem;
}

.categorias > div {
    margin-bottom: 1.5rem;
}

.categorias__checkbox {
    margin: 0.25rem 0.25rem 0.25rem 0;
    padding: 0.5rem;
    border-radius: 30px;
    border: 3px solid var(--cor-um);
    color: var(--cor-um);
    font-size: var(--p);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.categorias__checkbox--atual {
    border: 3px solid var(--cor-tres);
    background: var(--cor-tres);
    color: var(--cor-um);
    transition: 350ms;
}

.categorias__titulao--secundario {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-decoration: 3px solid underline var(--cor-tres);
}

.categorias__link {
    color: var(--cor-tres);
}

.artigos {
    padding: 1.25rem;
}

.artigo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "imagem imagem"
        "informacoes informacoes"
        "titulo titulo";
    margin-bottom: 1.2rem;
}

.artigo ~ .artigo {
    margin-top: 1.2rem;
}

.artigo__imagem {
    grid-area: imagem;
    border-radius: 15px;
    min-height: 13rem;
    margin-bottom: calc(1.2rem / 2);
    -webkit-box-shadow: inset 0px 0px 51px -17px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 51px -17px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 51px -17px rgba(0,0,0,0.5);
}

.artigo__titulo {
    grid-area: titulo;
    font-size: var(--h2);
    line-height: 36px;
}

.artigo__link {
    /* color: rgb(235, 106, 0); */
    color: var(--cor-tres);
}

.artigo__informacoes {
    grid-area: informacoes;
    margin: calc(1.2rem / 3) 0 calc(1.2rem / 2);
    display: flex;
    align-items: center;
}

.artigo__informacoes > * {
    margin-right: calc(1.2rem / 2);
    font-size: var(--p);
    font-weight: 400;
    text-transform: uppercase;
}

.artigo__categoria {
    color: var(--cor-tres);
    font-weight: 700;
}

.artigo__divididor {
    min-width: 5px;
    min-height: 5px;
    border-radius: 360px;
    background: var(--cor-dois);
    opacity: 0.8;
}

hr {
    height: 1px;
    background: var(--cor-dois);
    opacity: 0.5;
}

.newsletter {
    display: grid;
    grid-template-areas: 
        "titulao titulao"
        "entrada entrada";
    padding: 1.2rem;
    background: var(--cor-dois);
}

.newsletter__titulao {
    grid-area: titulao;
    margin-bottom: 1.2rem;
    max-width: 15ch;
    color: var(--cor-um);
    font-size: var(--h2);
    font-weight: 500;
}

.newsletter__titulao > span {
    display: inline-block;
    margin-top: calc(1.2rem / 2);
}

.newsletter__entrada {
    grid-area: entrada;
    display: flex;
    flex-direction: column;
}

.newsletter__entrada > *:not(:last-child) {
    margin-bottom: 1.2rem;
}

.newsletter__input {
    padding: 0.5rem;
    width: 100%;
    border-radius: 30px;
    border: 3.5px solid white;
    background: var(--cor-dois);
    color: var(--cor-dois);
    font-size: 17px;
    font-weight: 400;
    transition: 350ms;
}

.newsletter__input:not(:placeholder-shown, :focus) {
    color: var(--cor-tres);
}

.newsletter__input:focus {
    outline: none;
    background: var(--cor-um);
    color: var(--cor-dois);
}

.newsletter__ativador {
    align-self: flex-end;
    grid-area: ativador;
    text-align: center;
    padding: 0.8rem;
    border-radius: 30px;
    background: var(--cor-tres);
    color: var(--cor-um);
    font-size: 17px;
    font-weight: 600;
}

.newsletter__ativador span {
    vertical-align: middle;
}

footer {
    display: grid;
    padding: 1.2rem;
    background: var(--cor-dois);
}

footer * {
    color: var(--cor-um);
}

.footer__logo {
    grid-row: 1;
    grid-column: 1 / span 2;
    place-self: center;
    margin-bottom: 1.2rem;
    font-size: var(--h2);
}

.footer__logo {
    font-size: var(--h2);
    font-weight: 600;
}

.footer__logo span {
    color: var(--cor-tres);
}

.footer__lista {
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

.footer__lista--direita {
    justify-self: flex-end;
    text-align: right;
}

.footer__item {
    margin-bottom: calc(1.2rem / 2);
    max-width: 13ch;
}

.footer__titulo {
    font-size: 18px;
    font-weight: 300;
}

.footer__link  {
    font-weight: 600;
}

#como-devo-me-hidratar .artigo__imagem {
    background: url("https://images.unsplash.com/photo-1615809265660-21681e60e2bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1854&q=80");
    background-size: cover;
    background-position: center;
}

#como-faco-para-medir-meu-bpm .artigo__imagem {
    background: url("https://images.unsplash.com/photo-1532288922150-c04819be02b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: 150vw;
    background-position: center;
    background-repeat: no-repeat;
}

#refeicoes-antes-de-se-exercitar .artigo__imagem {
    background: url("https://images.unsplash.com/photo-1614961234274-f204d01c115e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
}
