:root {
    --ff-um: 'Poppins';
    --p: 16px;
    --h2: 31px;
    --h6: 21.33px;
    --h5: 28.43px;
    --h4: 37.90px;
    --h3: 50.52px;
    --h1: 89.76px;
    --cor-um: white;
    --cor-dois: black;
    --cor-tres: rgb(255, 115, 0);

}

main {
    display: grid;
}

.nav-paginas {
    margin-top: 3.25rem;
    display: grid;
    grid-template-rows: 2.75rem auto;
}

.nav-paginas__lista {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-items: center;
}

.nav-paginas__item {
    min-width: 100%;
    min-height: 100%;
    border-bottom: 3.5px solid rgba(255, 115, 0.5, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--p);
    font-weight: 500;
}

.nav-paginas__item--atual {
    border-bottom: 3.5px solid var(--cor-tres);
}

.nav-paginas__link {
    color: var(--cor-dois);
}

.artigo {
    place-self: center;
}

.artigo__imagem {
    width: 100%;
    height: 35vh;
    background: url("https://images.unsplash.com/photo-1528543606781-2f6e6857f318?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1965&q=80");
    background-size: cover;
    background-position: center;
}

.artigo__titulo {
    margin: 1rem 2.5rem 1rem 1rem;
    font-size: 32px;
    font-weight: 700;
}

.artigo__paragrafo {
    max-width: 57ch;
    letter-spacing: 0.2px;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
    font-weight: 400;
    line-height: 26px;
}

.artigo__paragrafo:last-child {
    margin-bottom: 6rem;
}

@media (min-width: 320px) {
    .artigo__titulo {
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;  
    }
}

@media (min-width: 420px) {

    .artigo__titulo {
        margin-left: 2rem;
    }
}