:root {
    --ff-um: 'Poppins';
    --p: 16px;
    --h2: 31px;
    --h6: 21.33px;
    --h5: 28.43px;
    --h4: 37.90px;
    --h3: 50.52px;
    --h1: 89.76px;
    --cor-um: white;
    --cor-dois: black;
    --cor-tres: rgb(255, 115, 0);

}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    background: none;
    box-sizing: border-box;
    font-family: var(--ff-um);
}

.material-icons-outlined {
    font-family: "Material Icons";
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.25rem;
}

.nav-bar__fileira-topo {
    position: absolute;
    z-index: 9;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-shadow: 0px -7px 15px 4px rgba(0,0,0,0.66); 
    box-shadow: 0px -11px 14px 6px rgba(0,0,0,0.66);
    background: var(--cor-um);
}

.nav-bar__logo {
    grid-column: 2;
    place-self: center;
    font-size: var(--h2);
    font-weight: 600;
}

.nav-bar__link {
    color: var(--cor-dois);
}

.nav-bar__link span {
    color: var(--cor-tres);
}

.nav-bar__ativador {
    grid-column: 3;
    place-self: end;
    align-self: center;
    padding-right: 1rem;
    display: flex;
    font-size: var(--h2);
}

.nav-bar__pesquisa {
    display: block;
    position: absolute;
    z-index: 8;
    grid-row: 2;
    width: 100%;
    padding: 1rem;
    background: var(--cor-um);
    font-size: var(--p);
    font-weight: 300;
    transform: translateY(-100%);
    transition: 150ms;
}

.nav-bar__pesquisa:focus {
    outline: none;
}


.nav-bar__pesquisa--ativado {
    transform: translateY(0);
}

.nav-bar__pesquisa--ativado:focus {
    outline: 3px solid var(--cor-tres);
}

.nav-paginas {
    display: grid;
    grid-template-rows: 3.25rem;
}

.nav-paginas__lista {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-items: center;
}

.nav-paginas__item {
    min-width: 100%;
    min-height: 100%;
    border-bottom: 4px solid rgba(255, 115, 0.5, 0.15);
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
}

.nav-paginas__item--atual {
    border-bottom: 4px solid var(--cor-tres);
}

.nav-paginas__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    color: var(--cor-dois);
}

.nav-artigos__pesquisa-container {
    margin: 1rem 0 2rem 0;
    display: grid;
    grid-template-rows: 1fr;
}

.nav-artigos__pesquisa-container > * {
    grid-row: 1;
    grid-column: 1;
}

.nav-artigos__pesquisa {
    padding: 0.5rem 0.75rem;
    border-radius: 30px;
    border: 3px solid var(--cor-tres);

}

.rodape {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto auto;
    grid-column: 1fr 1fr;
    background: var(--cor-dois);
}

.rodape__lista--direita {
    text-align: right;
}

.rodape__logo {
    grid-row: 1;
    grid-column: 1 / span 2;
    place-self: center;
    margin-bottom: 1.5rem;
    color: var(--cor-um);
    font-size: var(--h2);
}

.rodape__logo span {
    color: var(--cor-tres);
}

.rodape__item {
    margin-bottom: 0.5rem;
}

.rodape__titulo {
    margin-bottom: 1rem;
    color: var(--cor-um);
    font-size: 18px;
    font-weight: 500;
}

.rodape__link {
    color: var(--cor-um);
    font-weight: 300;
    opacity: 0.7;
}